{% extends 'main.html' %} {% block content %} {% if page == 'login' %}
<div>
  <form action="" method="POST">
    {% csrf_token %}
    <label>UserName:</label>
    <input type="text" name="username" placeholder="Enter the UserName" />

    <label>Password:</label>
    <input type="password" name="password" placeholder="Enter the Password" />

    <input type="submit" value="Login" />
  </form>
  <p>havent signed up yet?</p>
  <a href="/register">Sign Up</a>
</div>
{% else %}
<div>
  <form action="" method="POST">
    {% csrf_token %} {{form.as_p}}
    <input type="submit" value="Register" />
  </form>

  <p>already signed up?</p>
  <a href="/login">Sign Up</a>
</div>

{% endif %} {% endblock content %}
